# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c
osx_image: xcode9.3

cache:
  - cocoapods

branches:
    only:
    - master
    - develop

env:
    global:
    - WORKSPACE="SNavigationController.xcworkspace"
    - IOS_FRAMEWORK_SCHEME="SNavigationController"
    - EXAMPLE_SCHEME="SNavigationControllerExample"

    matrix:
    - DESTINATION="OS=11.3,name=iPhone X"        RUN_TESTS="NO"  BUILD_EXAMPLE="YES" POD_LINT="YES" ENABLECCODECOVERAGE="YES"
    - DESTINATION="OS=10.3.1,name=iPhone 7 Plus" RUN_TESTS="NO"  BUILD_EXAMPLE="YES" POD_LINT="NO"  ENABLECCODECOVERAGE="NO"
    - DESTINATION="OS=9.3,name=iPhone 6"         RUN_TESTS="NO"  BUILD_EXAMPLE="YES" POD_LINT="NO"  ENABLECCODECOVERAGE="NO"

script:
- set -o pipefail

- if [ $RUN_TESTS == "YES" ]; then
    xcodebuild -workspace "$WORKSPACE" -scheme "$IOS_FRAMEWORK_SCHEME" -destination "$DESTINATION" ENABLE_TESTABILITY=YES test | xcpretty;
  else
    xcodebuild -workspace "$WORKSPACE" -scheme "$IOS_FRAMEWORK_SCHEME" -destination "$DESTINATION" | xcpretty;
  fi

- if [ $BUILD_EXAMPLE == "YES" ]; then
    xcodebuild -workspace "$WORKSPACE" -scheme "$EXAMPLE_SCHEME" -destination "$DESTINATION" ONLY_ACTIVE_ARCH=NO build | xcpretty;
  fi

- if [ $ENABLECCODECOVERAGE = "YES" ]; then
    xcodebuild test -enableCodeCoverage YES -workspace "$WORKSPACE" -scheme "$EXAMPLE_SCHEME" -destination "$DESTINATION" ONLY_ACTIVE_ARCH=NO | xcpretty;
  fi

after_success:
- if [ $ENABLECCODECOVERAGE = "YES" ]; then
    bash <(curl -s https://codecov.io/bash);
  fi

notifications:
    slack: cyrex-group:ByK4WXNdYYjQ1yYZ2tjDOKyr
