name: Build and Analyze

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop, master]

jobs:
  build:
    name: Build and analyse default scheme using xcodebuild command
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: |
          xcodebuild -workspace SNavigationController.xcworkspace -scheme SNavigationController -destination "OS=15.4,name=iPhone 13" | xcpretty
